
<div class="container">


    <div class="tile-container">
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
    </div>

    <div class="tile-container">
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
    </div>

    <div class="tile-container">
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
    </div>

    <div class="tile-container">
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
    </div>

    <div class="tile-container">
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
    </div>

    <div class="tile-container">
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
        <Tile Letter="" Type="Absent"></Tile>
    </div>
</div>

<Keyboard />