
<div class="container">


    <div class="tile-container">
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
    </div>

    <div class="tile-container">
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
    </div>

    <div class="tile-container">
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
    </div>

    <div class="tile-container">
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
    </div>

    <div class="tile-container">
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
    </div>

    <div class="tile-container">
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
        <Tile Letter="" Type=""></Tile>
    </div>
</div>

<Keyboard />