
<div class="container">
    @for (var i = 0; i < Iterations; i++)
    {
        <div class="tile-container">
            @for (var j = 0; j < 5; j++)
            {
                var letter = @GetLetterFromWord(j, i);
                <Tile Letter="@letter" Type="@GetTypeFromWord(j, letter, i)"></Tile>
            }
        </div>
    }
</div>

<Keyboard OnKeyPressed=OnKeyboardClick AbsentKeys=AbsentWords CorrectKeys=MatchedWords PresentKeys=PresentWords/>

