<div class="overlay @GetCss()" >
    <div class="content">
        <div class="instructions">
            <h4 align=center>HOW TO PLAY</h4>
            <p>Guess the <strong>WORDLE</strong> in six tries.</p>
            <p>Each guess must be a valid five-letter word. Hit the enter button to submit.</p>
            <p>After each guess, the color of the tiles will change to show how close your guess was to the word.</p>
            <div class="examples">
                <p><strong>Examples</strong></p>
                <div class="example">
                    <img src="https://i.gyazo.com/7b579e51d034040112c85302a4ab938d.png" />
                    <p>The letter <strong>W</strong> is in the word and in the correct spot.</p>
                </div>
                <div class="example">
                    <img src="https://i.gyazo.com/46bd3336fc72d1690a253d46eca12524.png" />
                    <p>The letter <strong>I</strong> is in the word but in the wrong spot.</p>
                </div>
                <div class="example">
                    <img src="https://i.gyazo.com/255fb6528d0c70a24650bdd3e3ad9df9.png" />
                    <p>The letter <strong>U</strong> is not in the word in any spot.</p>
                </div>
            </div>
            <p>
                This is a clone built by <a href="https://twitter.com/emimontesdeocaa">Emiliano Montesdeoca</a> of the original <a href="https://www.nytimes.com/games/wordle/index.html">Worlde game by NYTimes</a>. The source code can be found on <a href="https://github.com/emimontesdeoca/Wordlzor">this repository</a>.
            </p>

            <p>
                All credits to the creator of the game.
            </p>

            <br />

            <h4 align=center>
                <a href="" @onclick=@Close>PLAY!</a>
            </h4>
        </div>
    </div>
</div>
